.b-modal {
    background-color: lighten($body-bg, 5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    overflow: hidden;

    &-header {
        background-size: cover;
        background-position: center;
        position: relative;
        height: 40vh;
        overflow: hidden;
        display: flex;
        padding: 2rem;

        &::after {
            background: linear-gradient(0deg, lighten($body-bg, 5) 0%, rgba(255,255,255,0) 100%);
            position: absolute;
            content: " ";
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }

        > * {
            z-index: 1;
        }

        h1 {
            margin-top: auto;
        }
    }

    &-content {
        padding: 2rem;
        max-width: 800px;

        h1 {
            margin-bottom: 2rem;
        }
    }
}